MONGODB_URI=
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FRONTEND_URL=
PORT=5000
RESEND_API_KEY=
FROM_EMAIL=
PAYU_MERCHANT_KEY=
PAYU_SALT=
PAYU_CLIENT_ID=
PAYU_CLIENT_SECRET=
PAYU_ACTION_URL=https://secure.payu.in/_payment
PAYU_SUCCESS_URL=https://wearesoloz.com/api/payment/payu-callback
PAYU_FAILURE_URL=https://wearesoloz.com/api/payment/payu-callback
